<h1>Find a meat to eat....Yummmmmmmmm</h1>

<form>
    <h3>Enter an animal</h3>
    <%= text_field_tag :q, params[:q]  %>
    <input type="submit" value="Search">
</form>

    <p><%= link_to("Start over", root_path) %></p>
 
<% if @search %>
  <h3>Cut of Meat</h3>
  
  <h4><%= @search.total %> results</h3><br/>
  
  <% @meats.each do |meat| %>
    <ul>
      <li><%= meat.kind %></li>
    </ul>
  <% end %>

</table>

<% end %>