<h1>Find a meat....Yummmmmmmmm</h1>

<form>
    <%= text_field_tag :q, params[:q]  %>
    <input type="submit" value="Search" />
</form>

<% if @search %>
  <h3><%= @search.total %> results</h3>
<% end %>


<table>
  <tr>
    <td><h3>Animal</h3></td>
    <td><h3>Cut of Meat</h3></td>
  </tr>

<% @meats.each do |meat| %>
  <tr>
    <td><%= meat.animal %></td>
    <td><%= meat.kind %></td>
  </tr>

<% end %>

</table>  


